

<form method="POST" action="/auth/login">
<section id="header">
</section>
<section>
  <div class="mainform">
    <h1>Login</h1>
    <div class="field" >
      <label>Username</label><br>
      <input type="text" name="username"/>
    </div>

    <div class="field" >
      <label>Password</label><br>
      <input type="password" name="password"/>
    </div>

    <div class="field submit">
      <button type="submit">Login</button>
    </div>
    <div class="flash">
      {{> flash }}
    </div>
  </div>
  </section>
</form>
<footer>
  <div class="icon-footer">
    <a href="/"><img src="../images/outhome.svg" alt="home"></a>
  </div>
  <div class="icon-footer">
    <a href="/profile"><img src="../images/outprofile.svg" alt="Profile"></a>
  </div>
  <div class="icon-footer">
    <a href="/product"><img src="../images/myproducts.svg" alt="MyProducts"></a>
  </div>
  <div class="icon-footer">
    <a href="/profile/myorders"><img src="../images/change.svg" alt="Orders"></a>
  </div>
</footer>


