<form method="POST" action="/auth/signup">
  <section id="header">
  </section>
  <section>
    <div class="mainform">
      <h1>Sign Up</h1>
      <div class="field" >
        <label>Username</label>
        <input type="text" name="username"/>
      </div>
      <div class="field" >
        <label>Password</label>
        <input type="password" name="password"/>
      </div>
      <div class="field submit">
        <button type="submit">Signup</button>
      </div>
      <div class="flash">
        {{> flash }}
      </div>
    </div>
  </section>
</form>

 