<h1>Signup</h1>

<form method="POST" action="/auth/signup">

  <div class="field" >
    <label>Username</label>
    <input type="text" name="username"/>
  </div>

  <div class="field" >
    <label>Password</label>
    <input type="password" name="password"/>
  </div>
 <div class="field" >
    <label>email</label>
    <input type="email" name="email"/>
  </div>
 <div class="phone" >
    <label>phone</label>
    <input type="tel" name="phone"/>
  </div>
 <div class="field" >
    <label>timeTable</label>
    <input type="text" name="timeTable"/>
  </div>

  <div class="field submit">
    <button type="submit">Signup</button>
  </div>
</form>

{{> flash }}
