<h1>500 - Server Error</h1>
<footer>
  <div class="icon-footer">
    <a href="/"><img src="../images/outhome.svg" alt="home"></a>
  </div>
  <div class="icon-footer">
    <a href="/profile"><img src="../images/outprofile.svg" alt="Profile"></a>
  </div>
  <div class="icon-footer">
    <a href="/product"><img src="../images/myproducts.svg" alt="MyProducts"></a>
  </div>
  <div class="icon-footer">
    <a href="/profile/myorders"><img src="../images/change.svg" alt="Orders"></a>
  </div>
</footer>