  
  
  
  <section id="header-main">
     
  </section>
  
  <h1>Products on sale now!</h1>
  <section id=list>
    {{#each products}}
      <li> 
        <a href="/product/{{this._id}}">{{this.name}}</a>
      </li>
    {{/each}}
  </section>