<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <title>KM0</title>
</head>
<body>
  <header>
  {{#if currentUser}}
  <div class="navbar-nova">
    <div class="navbar-nova-imatge">
      <a href="auth/logout"><img src="/images/greenpower.svg" alt="Logout"></a>
    </div>
    <p class="navbar-nova-user">Hi! {{currentUser.username}}</p>
  </div>
  {{else}}
  <div class="navbar-nova">
    <div class="navbar-nova-imatge">
     <a href="/auth/login"><img src="/images/blackpower.svg" alt="Login"></a>
    </div>
    <div class="navbar-nova-imatge">
      <a href="/auth/signup"><img src="/images/add.svg" alt="Register"></a>
    </div>
  </div>
  {{/if}} 
  </header>
  {{{body}}}
 </body>
</html>