<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://fonts.googleapis.com/css?family=Questrial'" rel="stylesheet">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <title>KM0</title>
</head>
<body>
  <nav>
   <a href="#"Description></a>
   <a href="#">Faqs</a>
   <a href="/auth/signup">Register</a>
   <a href="/auth/login">Login</a>
   <a href="/auth/logout">Logout</a>
   <a href="/profile">My Profile</a>
   <a href="/product">My Products</a>
   <a href="#">My Orders</a>
  </nav>
  {{{body}}}
</body>
</html>