
/*
  color: #08b255;
  color: #f4f7ef;
  color: #00B7FF;
  <link href="https://fonts.googleapis.com/css?family=Questrial" rel="stylesheet">
  
  @import url('https://fonts.googleapis.com/css?family=Questrial');
font-family : 'Questrial', sans-serif;
*/

.overlay {
  height: 80%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  /*background-color: rgb(0,0,0);*/
  background-color:#a3b13f;
  overflow-x: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #222722;
  display: block;
  transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
  font-size: 40px;
  top: 15px;
  right: 35px;
  }
}
/*-----------------------------------------------*/  
@font-face {
  font-family: 'Questrial';
  font-style: normal;
  font-weight: 400;
  font-size: 3em;
  src: url('https://fonts.googleapis.com/css?family=Questrial');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
body {
  padding: 2vw;
 }
#header-main {
  height: 35vh;
  width: 100%;
  background-image: url('../images/header-main.png');
  background-size: 100% 100%;
}
 
#header {
  height: 35vh;
  width: 100%;
  background-image: url('../images/km-cero.jpg');
  background-size: 100% 100%;
}

#header1 {
  height: 35vh;
  width: 100%;
  background-image: url('../images/verdcolores.jpg'  );
  background-size: 100% 100%;
}

a {
  color: #08b255;  /* #616832*/
  color:  #a3b13f;  /* franchi */
  color: #f4f7ef;
  color: #00B7FF;
  color: #7a8620;  /* gris */
  color: #3F4641;   /* gris verdós */
}
.mainform {
  color: #3e3c2e;
  width: 100vw;
  height: 100vh;
  padding-left: 10vw;
  background-color: #a3b13f;  
  display: flex;
  flex-direction: column;
  font-size: 1.5em;
}

.flash {
  color: #850E1B;
}
h1 {
  color: #3F4641;
  font-size: 2em;
  padding-left: 20%;
}
.mainform label {
  padding-top:1vh;
  font-size: 1em;
}

.field {
  font-size: 1em;
  padding-top: 3%;
}

button {
  margin: 10px auto;
  width: 60%;
  background-color: #08b255;
  border-radius: 16px;
  border: 0;
  font-style: bold;
  height: 30px;
}

/*********ANDREU***************************/

/* generic */

.llista ul:nth-child(odd) {
  background-color:#ddd;
}

.llista ul:nth-child(even) {
  background-color:#fff;
}

/* big */
@media screen and (min-width:600px) {
  
  .llista {
    display:table;
    margin:1em;
  }
 
  .llista ul {
    display:table-row;
  }
  
  .llista ul:first-child li {
    background-color:#444;
    color:#fff;
  }

  .llista ul > li {
    display:table-cell;
    padding:.5em 1em;
  }
  
}

/* small */
@media screen and (max-width:599px) {
  
  .llista ul {
    border:solid 1px #ccc;
    display:block;
    list-style:none;
    margin:1em;
    padding:.5em 1em;
  }
  
  .llista ul:first-child {
    display:none;
  }
  
  .llista ul > li {
    display:block;
    padding:.25em 0;
  }
  
  .llista ul:nth-child(odd) > li + li {
    border-top:solid 1px #ccc;
  }
  
  .llista ul:nth-child(even) > li + li {
    border-top:solid 1px #eee;
  }
  
  .llista ul > li:before {
    color:#000;
    content:attr(data-label);
    display:inline-block;
    font-size:75%;
    font-weight:bold;
    text-transform:capitalize;
    vertical-align:top;
    width:50%;
  }
  
  .llista p {
    margin:-1em 0 0 50%;
  }
  
}

/* tiny */
@media screen and (max-width:349px) {
    
  .llista ul > li:before {
    display:block;
  }
  
  .llista p {
    margin:0;
  }
  
}

header {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.imageHouse {
  width: 10%;
  height: 10%
}

.imageHouse img {
  width: 100%;
  height: 100%
}

#map {
  height: 40vh;
  width: 40vw;
  display: flex;
  align-self: flex-end;
  margin-top: 10%;
  margin-right: 20%
}

.indexlist {
  display: flex;
  -webkit-flex-flow: row wrap;
  justify-content: space-around;
  padding: 0;
  margin: 0;
}

.indexlist li {
  height: 150px;
  width: 45%;
  margin: 10px 0;
  border-radius: 8px;
  list-style: none;
  text-align: center;
  -webkit-box-shadow: 0px 0px 16px 1px rgba(0,0,0,0.53);
  -moz-box-shadow: 0px 0px 16px 1px rgba(0,0,0,0.53);
  box-shadow: 0px 0px 16px 1px rgba(0, 0, 0, 0.18);
}

.imagelist {
  width: 100px;
  height: 100px;
  padding-left: 25px;
  padding-top: 5px;
}

.imagelist img {
  width: 100%;
  height: 100%;
}
.indexlist p {
  margin: 0 auto;
}