<form action="/product/buy" method="POST" >
  <div>
    <label for="name">Name</label>
    <input type="text" name="username" value="{{username}}">
  </div>
  <div>
    <label for="description">Description</label>
    <input type="email" name="email" value="{{email}}">
  </div>
  <div>
    <label for="amount">Amount</label>
     <input type="text" name="amount" value="{{amount}}">
  </div>
  <div>
    <label for="units">Units</label>
    <input type="units" name="units" value={{phone}}>
  </div>
  
  <button type="submit">Buy</button>
  </form>
<script src="javascripts/locations.js"></script>