<form action="/product/create" class="js-add-product" method="POST">
  <div>
    <label for="">Name</label>
    <input type="text" name="name" value="{{name}}">
  </div>
  <div>
    <label for="">Description</label>
    <input type="text" name="description" value="{{description}}">
  </div>
 <div>
    <label for="">Amount</label>
    <input type="text" name="amount" value="{{amount}}">
  </div>
  <select id="units-select" name="units" value="{{units}}">
      <option value="Kg">Kg</option>
      <option value="Units">Units</option>
  </select>
  {{!-- <div>
    ficar a nes form  enctype="multipart/form-data"
    <label>Upload a picture</label>
    <input type="file" name="image">
  </div> --}}
  <button type="submit">Add product</button>
</form>
