<form action="/product/create" class="js-add-product" method="POST" enctype="multipart/form-data">
  <section id="header">
  </section>
  <section>
    <div class="mainform">
      <div class="field">
        <label for="">Name</label>
        <select id="units-select" name="name">
          <option value="Tomate">Tomate</option>
          <option value="Zanahoria">Zanahoria</option>
          <option value="Alcachofa">Alcachofa</option>
          <option value="Lechuga">Lechuga</option>
          <option value="Apio">Apio</option>
          <option value="Berenjena">Berenjena</option>
          <option value="Brocoli">Brocoli</option>
          <option value="Berza">Berza</option>
          <option value="Calabacin">Calabacin</option>
          <option value="Calçots">Calçots</option>
          <option value="Ajos">Garlic</option>
          <option value="Limones">Lemon</option>
          <option value="Cereza">Berrys</option>
          <option value="Escarola">Escarola</option>
        </select>
      </div>
  <div class="field">
    <input type="text" name="description" placeholder="Description">
  </div>
  <div class="field">
    <input type="number" name="amount" placeholder="Amount">
    <select id="units-select" name="units">
      <option value="Kg">Kg</option>
      <option value="Units">Units</option>
    </select>
  </div>
  <div class="field">
    <input type="number" step=".01" name="price" placeholder="Price">
  </div>

  <div class="field">
    <input type="file" name="image">
  </div>
  <button type="submit">Add product</button>
  </div>
  </section>
</form>
<footer>
  <div class="icon-footer">
    <a href="/"><img src="../images/outhome.svg" alt="home"></a>
  </div>
  <div class="icon-footer">
    <a href="/profile"><img src="../images/outprofile.svg" alt="Profile"></a>
  </div>
  <div class="icon-footer">
    <a href="/product"><img src="../images/myproducts.svg" alt="MyProducts"></a>
  </div>
  <div class="icon-footer">
    <a href="/profile/myorders"><img src="../images/change.svg" alt="Orders"></a>
  </div>
</footer>