<h1>My Products</h1>
 <div class="myproducts-list">
    <ul>
      <li>Product</li>
      <li>Available</li>
      <li>Edit</li>
      <li>Delete</li>
    </ul>
    {{#each products}}
      <ul>  
        <li><a href="/product/{{this._id}}">{{this.name}}</a></li>
        <li>{{this.amount}}}</li>  
      <ul>  
  {{/each}}
<a href="/product/create">Add a product</a>
<footer>
  <div class="icon-footer">
    <a href="/"><img src="../images/outhome.svg" alt="home"></a>
  </div>
  <div class="icon-footer">
    <a href="/profile"><img src="../images/outprofile.svg" alt="Profile"></a>
  </div>
  <div class="icon-footer">
    <a href="/product"><img src="../images/myproducts.svg" alt="MyProducts"></a>
  </div>
  <div class="icon-footer">
    <a href="/profile/myorders"><img src="../images/change.svg" alt="Orders"></a>
  </div>
</footer>